/* Font family
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Oswald', sans-serif;
*/

/* *********************** Header ***************************** */

/* Common styles  */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #cad6d2;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  align-items: center;
}

nav a {
  padding: 1rem;
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
}
nav a:hover {
  background-color: #b28e9c;
}

.menu > a {
  overflow: hidden;
}

.social {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

/*Container for menu button  */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 3px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
}

/* *********************** Tooltip ***************************** */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #b0ab97;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;

  /* Position the tooltip text */
  position: absolute;
  width: 120px;
  top: 175%;
  left: 50%;
  margin-left: -60px;
  z-index: 1;

  opacity: 0; /* Start invisible */
  content: "";
  transition: opacity 0s linear 0s;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; /* Fully visible */
  transition: opacity 0.3s linear 2s;
}

/* *********************** Media queries ***************************** */

/* Mobile */
@media (max-width: 710px) {
  nav {
    flex-direction: flex-start;
    font-size: 16px;
    height: 3em;
    align-items: center;
    padding-left: 1em;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  #menu-toggle:checked ~ .menu a {
    height: 2.5em;
    padding: 0.5em;
  }

  .menu > a {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #cad6d2;
  }

  nav a {
    padding: 1rem;
  }
}

/* Medium (iPad) */
@media (min-width: 711px) and (max-width: 916px) {
  nav {
    flex-direction: row;
    font-size: 18px;
    height: 3em;
  }
  nav a {
    padding: 0.25rem;
  }
}
/* Medium (iPad) */
@media (min-width: 917px) and (max-width: 1200px) {
  nav {
    flex-direction: row;
    font-size: 18px;
    height: 3em;
  }
  nav a {
    padding: 1rem;
  }
}

/* Desktop */

@media (min-width: 1201px) {
  nav {
    flex-direction: row;
    font-size: 20px;
    height: 3em;
  }
  nav a {
    padding-bottom: 0.5rem;
  }
}
